{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if object %}
    <h3>Edit <span class="teal-text">{{object.event_name}}</span></h3>
    {% else %}
    <h3>Add Event</h3>
    {% endif %}
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form }}
    </table>
    <br>
    <div class="card-action">
    <input type="submit" value="Submit Event" class="btn indigo darken-1">
    </div>
  </form>
</div>  
<script>
    const idEventState = document.getElementById('id_event_state');
    idEventState.style.display = 'block';
</script>
{% endblock %}
