{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if object %}
        <h4>Edit <span class="teal-text">{{object.employee_name}}</span></h4>
    {% else %}
        <h4>Add PTO Request</h4>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <br>
        <div class="card-action">
        <input type="submit" value="Submit!" class="btn indigo darken-1">
        </div>
        <br>
    </form>
</div>    
{% endblock %}