body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding: 1rem;
  text-align: right;
}

.brand-logo {
  margin-left: 1rem;
}

/* main.card {
  border-radius: 5px;
} */

/* .card-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} */

