body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding: 1rem;
  text-align: right;
}

.brand-logo {
  margin-left: 1rem;
}

.card-image {
  height: 50%;
}

.card-content {
  height: 50%;
}

.card-content p{
  margin-bottom: 1rem;
}

.card {
  border-radius: 5px;
}