body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.brand-logo {
  margin-left: 1rem;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding: 1rem;
  text-align: right;
}


/* main.card {
  border-radius: 5px;
} */

/* .card-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} */

.logout-btn {
  background-color: white !important;
  border: none !important;
  padding: 0 !important;
}

.logout-btn2 {
  background-color: rgb(40, 50, 55);
  color: white;
  border: none !important;
  padding: 0 !important;
  margin-right: 20px;
}
