{% extends 'base.html' %}
{% block content %}

<h3 class="container section">Event Details</h3>
<div class="container">
  <div class="card">
    <div class="hoverable">
      <div class="card-image">
      <img src="/static/assets/image.jpg">
      <a href="#" class="halfway-fab btn-floating pink pulse">
      <i class="material-icons">favorite</i></a>
      </div>
      <div class="card-content">
      <span class="card-title">{{ event.event_name }}</span>
      <br>
      <p style="text-decoration-line: underline;"><strong>LOCATION</strong></p>
      <p>{{ event.event_venue }}</p>
      <p>{{ event.event_address }}</p>
      <p>{{ event.event_city }}, {{ event.event_state }} {{ event.event_zip }}</p>
      <!-- lat/long hopefully to be used for google maps later -->
      <!-- <p>{{ event.event_latitude }}, {{ event.event_longitude }}</p> -->
      <br>
      <p style="text-decoration-line: underline;"><strong>DATE & TIME</strong></p>
      <p>{{ event.event_localdate }}</p>
      <p>{{ event.event_localtime }}, {{ event.event_timezone }}</p>
      <br>
      <p style="color: rgb(185, 184, 184)">Co-workers are attending!</p>
    </div>
  </div>
  <div class="card-action">
    <a href="{% url 'events_update' event.id %}">Edit Event</a>
    <a href="{% url 'events_delete' event.id %}">Delete Event</a>
  </div>
</div>

{% endblock %}
