{% extends 'base.html' %}

{% block content %}  
<br>
<div class="center"> <a class="waves-effect waves-light btn indigo darken-1" href="{% url 'events_create' %}">Add Event</a></div>
<br>
<h3 class="container section">Events List</h3>
{% for event in events %}
<div class="container">
  <div class="card">
    <div class="hoverable">
      <div class="card-image">
        <img src="{{ event.event_img_url }}">
        <a href="#" class="halfway-fab btn-floating pink pulse">
        <i class="material-icons">favorite</i>
        </a>
      </div>
      <div class="card-content">  
        <span class="card-title">{{ event.event_name }}</span>
        <br>
        <p style="text-decoration-line: underline;"><strong>LOCATION</strong></p>
        <p>{{ event.event_venue }}</p>
        <p>{{ event.event_city }}, {{ event.event_state }}</p>
        <br>
        <p style="text-decoration-line: underline;"><strong>DATE & TIME</strong></p>
        <p>{{ event.event_localdate }}</p>
        <p>{{ event.event_localtime }}</p>
        <p>Local timezone: {{ event.event_timezone }}</p>
        <br>
        <!-- <p>Testing out number of attendees: {{ event.employees.all|length }}</p> -->
        <p style="color: rgb(185, 184, 184)">Co-workers are attending!</p>
        <!-- <form action="{% url 'assoc_event' employee.id event.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Attend this Event</button>
        </form> -->
      </div>
        <div class="card-action">
          <a href="{% url 'events_detail' event.id %}">View</a>
        </div>
      </div>
    </div> 
  </div>
{% endfor %}
{% endblock %}
