{% extends 'base.html' %}
{% block content %}

<h4 class="container section">PTO Request Details</h4>
<div class="container">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ current_user.employee_name }}</span>
      <p>Test: {{ pto_request.employee }}</p>
      <p>Status: {{ pto_request.status }}</p>
      <p>Start Date: {{ pto_request.start_date }}</p>
      <p>End Date: {{ pto_request.end_date }}</p>
    </div>
    <div class="card-action">
      <a href="{% url 'pto_requests_update' pto_request.id %}">Edit</a>
      <a href="{% url 'pto_requests_delete' pto_request.id %}">Delete</a>
    </div>
  </div>
</div>

{% endblock %}