{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>heythere</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="/static/assets/logo.png">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body class="indigo lighten-5">
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey darken-3">
        <ul>
          <li><a href="{% url 'home' %}" class="left brand-logo"><img src="/static/assets/logo.png">&nbsp;&nbsp;</a></li>
        </ul>

        <a href="#" class="right btn dropdown-trigger" data-target="dropdown">My Tools</a>

        <ul class="dropdown-content" id="dropdown">
          <li><a href="#">Slack</a></li>
        </ul>

        <ul class="right">
          <li><a href="{% url 'events_index' %}">Events</a></li>
          <li><a href="{% url 'index' %}">Employees</a></li>
          <li><a href="{% url 'employees_create' %}">Add an Employee</a></li>
          <li><a href="#">PTO Request</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container grey lighten-5">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer grey darken-3">
    <div class="center">All Rights Reserved, &copy; 2024 heythere &nbsp;</div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var instances = M.Dropdown.init(elems, options);
    });

  </script>

</body>
</html>
